<template>
  <!-- main content -->
  <main class="main">
    <div class="container-fluid">
      <div class="row">
        <!-- main title -->
        <div class="col-12">
          <div class="main__title">
            <h2>Add new item</h2>
          </div>
        </div>
        <!-- end main title -->

        <!-- form -->
        <div class="col-12">
          <form action="#" class="form">
            <div class="row">
              <div class="col-12 col-md-5 form__cover">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-12">
                    <div class="form__img">
                      <label for="form__img-upload">Upload cover (270 x 400)</label>
                      <input @change="addImage" id="form__img-upload" name="image" type="file">
                      <img id="form__img" :src="imageShow" alt=" ">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-7 form__content">
                <div class="row">
                  <div class="col-12">
                    <input v-model="name" type="text" class="form__input" placeholder="Name">
                  </div>

                  <div class="col-12">
                    <textarea id="text" v-model="description" name="text" class="form__textarea"
                              placeholder="Description"></textarea>
                  </div>

                  <div class="col-12 col-sm-6 col-lg-3">
                    <input type="number" v-model="year" class="form__input" placeholder="Release year">
                  </div>

                  <div class="col-12 col-sm-6 col-lg-3">
                    <input type="number" v-model="minutes" class="form__input" placeholder="minutes">
                  </div>

                  <div class="col-12 col-sm-6 col-lg-3">
                    <input type="text" v-model="director" class="form__input" placeholder="Director">
                  </div>


                  <div class="col-12 col-sm-6 col-lg-3">
                    <input type="text" v-model="country" class="form__input" placeholder="Country">
                  </div>
                  <div class="col-12">
                    <input type="text" v-model="cast" class="form__input" placeholder="Cast">
                  </div>

                  <div class="col-12">
                    <span style="color: white; padding-bottom: 10px">Thể loại:</span>
                    <ul class="sign__group--checkbox">
                      <li v-for="item in list1" :key="item.id">
                        <input v-bind:id="item.id" @change="item.checked = !item.checked" type="checkbox" v-bind:checked="item.checked" name="type">
                        <label v-bind:for="item.id">{{ item.name }}</label>
                      </li>
                    </ul>
                  </div>
                  <div class="col-12">
                    <ul class="sign__group--checkbox">
                      <li v-for="item in list2" :key="item.id">
                        <input v-bind:id="item.id" @change="item.checked = !item.checked" type="checkbox" v-bind:checked="item.checked" name="type">
                        <label v-bind:for="item.id">{{ item.name }}</label>
                      </li>
                    </ul>
                  </div>


                </div>
              </div>


              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="form__video">
                      <label id="movie1" for="form__video-upload">{{ nameMovie }}</label>
                      <input @change="loadFilm" data-name="#movie1" id="form__video-upload" name="movie"
                             class="form__video-upload"
                             type="file" accept="">
                    </div>
                  </div>

                  <div class="col-12">
                    <button @click="addFilm" type="button" class="form__btn">publish</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end form -->
      </div>
    </div>
  </main>
  <!-- end main content -->
</template>

<script>
import axios from 'axios';

export default {
  name: "AddFilm",
  data() {
    return {
      list1:
          [{id: 1, name: "Kinh Dị", checked: false},
            {id: 2, name: "Chiến Tranh", checked: false},
            {id: 3, name: "Hình Sự", checked: false},
            {id: 4, name: "Tâm Lý", checked: false},
            {id: 5, name: "Gia Đình", checked: false},
            {id: 6, name: "Hành Động", checked: false},
            {id: 7, name: "Tình Cảm", checked: false},
          ],
      list2:
          [
            {id: 8, name: "Viễn Tưởng", checked: false},
            {id: 9, name: "Phiêu Lưu", checked: false},
            {id: 10, name: "Hoạt Hình", checked: false},
            {id: 11, name: "Hài Hước", checked: false},
            {id: 12, name: "Cổ Trang", checked: false},
            {id: 13, name: "Tổng Hợp", checked: false},
            {id: 14, name: "Tài Liệu", checked: false},],
      image: '',
      imageShow: '',
      nameMovie: '',
      movie: '',
      name: '',
      description: '',
      year: '',
      minutes: '',
      director: '',
      cast: '',
      country: ''

    }
  },
  methods: {
    addImage(event) {
      const selectedImage = event.target.files[0];
      this.image = selectedImage;
      this.imageShow = selectedImage;
      this.loadImage(selectedImage);
    },
    loadImage(fileObject) {
      const reader = new FileReader();
      reader.onload = (event) => {
        this.imageShow = event.target.result;
      }
      reader.readAsDataURL(fileObject);
    },
    loadFilm(event) {
      this.movie = event.target.files[0];
      this.nameMovie = this.movie.name;
    },
    addFilm() {
      let formData = new FormData();

      var theLoai = [];

      for (var i =0; i < 7;i++){
        if (this.list1[i].checked){
          theLoai.push(this.list1[i].id)
        }
      }
      for (var j =0; j < 7;j++){
        if (this.list2[j].checked){
          theLoai.push(this.list2[j].id)
        }
      }

      formData.append('movie', this.movie);
      formData.append('image', this.image);
      formData.append('name', this.name);
      formData.append('description', this.description);
      formData.append('country', this.country);
      formData.append('cast', this.cast);
      formData.append('year', this.year);
      formData.append('director', this.director);
      formData.append('minutes', this.minutes);
      formData.append('category', theLoai);

      axios.post('http://localhost:9999/movies', formData, {
        headers: {
          'Content-Type': 'multipart/form-data',
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      })
          .then(response => {
            console.log(response)
          });
    }
  }
}
</script>

<style>
.form__cover {
  -ms-flex: 0 0 290px;
  flex: 0 0 290px;
  max-width: 290px;
}

.form__content {
  flex: 0 0 calc(100% - 290px);
  max-width: 100%;
}
</style>
