<template>
  <div class="body">
    <Left></Left>
    <RouterView></RouterView>
  </div>
</template>

<script>
import Left from "@/components/admin/Left";

export default {
  name: "AdminLayout",
  components: {Left}
}
</script>

<style>
@import "./../../adminAssets/css/bootstrap-reboot.min.css";
@import "./../../adminAssets/css/bootstrap-grid.min.css";
@import "./../../adminAssets/css/magnific-popup.css";
@import "./../../adminAssets/css/jquery.mCustomScrollbar.min.css";
@import "./../../adminAssets/css/select2.min.css";
@import "./../../adminAssets/css/ionicons.min.css";
@import "./../../adminAssets/css/admin.css";
</style>
