<template>
  <header class="header">
    <div class="header__content">
      <!-- header logo -->
      <a href="index.html" class="header__logo">
        <img src="../../adminAssets/img/logo.svg" alt="">
      </a>
      <!-- end header logo -->

      <!-- header menu btn -->
      <button class="header__btn" type="button">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <!-- end header menu btn -->
    </div>
  </header>
</template>

<script>
export default {
name: "Header"
}
</script>

<style scoped>

</style>