<template>
  <main class="main">
    <div class="container-fluid">
      <div class="row">
        <!-- main title -->
        <div class="col-12">
          <div class="main__title">
            <h2>Dashboard</h2>
            <a href="/Admin/AddFilm" class="main__title-link">add item</a>
          </div>
        </div>
        <!-- end main title -->

        <!-- stats -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="stats">
            <span>Tổng lượt xem</span>
            <p>{{ this.countWatches }}</p>
            <i class="icon ion-ios-stats"></i>
          </div>
        </div>
        <!-- end stats -->

        <!-- stats -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="stats">
            <span>Tổng số film</span>
            <p>{{ this.countMovie }}</p>
            <i class="icon ion-ios-film"></i>
          </div>
        </div>
        <!-- end stats -->

        <!-- stats -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="stats">
            <span>Tổng comments</span>
            <p>{{ this.countComment }}</p>
            <i class="icon ion-ios-chatbubbles"></i>
          </div>
        </div>
        <!-- end stats -->

        <!-- stats -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="stats">
            <span>Tổng số lượt đánh giá</span>
            <p>{{ this.countRate }}</p>
            <i class="icon ion-ios-star-half"></i>
          </div>
        </div>
        <!-- end stats -->

        <!-- dashbox -->
        <div class="col-12 col-xl-6">
          <div class="dashbox">
            <div class="dashbox__title">
              <h3><i class="icon ion-ios-trophy"></i> Top items</h3>

              <div class="dashbox__wrap">
                <a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
                <a class="dashbox__more" @click="goToDetailTopRate()" href="">View All</a>
              </div>
            </div>

            <div class="dashbox__table-wrap">
              <table class="main__table main__table--dash">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>NAME</th>
                  <th>RATING</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="movie in this.listTopRate" :key="movie.id">
                  <td>
                    <div class="main__table-text">{{ movie.movie_id }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ movie.name }}</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>{{ movie.mean_point }} </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end dashbox -->

        <!-- dashbox -->
        <div class="col-12 col-xl-6">
          <div class="dashbox">
            <div class="dashbox__title">
              <h3><i class="icon ion-ios-film"></i> Latest items</h3>

              <div class="dashbox__wrap">
                <a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
                <a class="dashbox__more" href="catalog.html">View All</a>
              </div>
            </div>

            <div class="dashbox__table-wrap">
              <table class="main__table main__table--dash">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>NAME</th>
                  <th>MINUTES</th>
                  <th>CREATED</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in this.listLatestMovie" :key="item.id">
                  <td>
                    <div class="main__table-text">{{ item.id }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ item.name }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ item.minutes }}</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--green">{{item.created}}</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end dashbox -->

        <!-- dashbox -->
        <div class="col-12 col-xl-6">
          <div class="dashbox">
            <div class="dashbox__title">
              <h3><i class="icon ion-ios-contacts"></i> Latest users</h3>

              <div class="dashbox__wrap">
                <a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
                <a class="dashbox__more" href="users.html">View All</a>
              </div>
            </div>

            <div class="dashbox__table-wrap">
              <table class="main__table main__table--dash">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>FULL NAME</th>
                  <th>EMAIL</th>
                  <th>USERNAME</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--grey">email@email.com</div>
                  </td>
                  <td>
                    <div class="main__table-text">Username</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--grey">email@email.com</div>
                  </td>
                  <td>
                    <div class="main__table-text">Username</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--grey">email@email.com</div>
                  </td>
                  <td>
                    <div class="main__table-text">Username</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--grey">email@email.com</div>
                  </td>
                  <td>
                    <div class="main__table-text">Username</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--grey">email@email.com</div>
                  </td>
                  <td>
                    <div class="main__table-text">Username</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end dashbox -->

        <!-- dashbox -->
        <div class="col-12 col-xl-6">
          <div class="dashbox">
            <div class="dashbox__title">
              <h3><i class="icon ion-ios-star-half"></i> Latest reviews</h3>

              <div class="dashbox__wrap">
                <a class="dashbox__refresh" href="#"><i class="icon ion-ios-refresh"></i></a>
                <a class="dashbox__more" href="reviews.html">View All</a>
              </div>
            </div>

            <div class="dashbox__table-wrap">
              <table class="main__table main__table--dash">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>ITEM</th>
                  <th>AUTHOR</th>
                  <th>RATING</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <div class="main__table-text">23</div>
                  </td>
                  <td>
                    <div class="main__table-text">I Dream in Another Language</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 7.2</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">24</div>
                  </td>
                  <td>
                    <div class="main__table-text">Benched</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 6.3</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">25</div>
                  </td>
                  <td>
                    <div class="main__table-text">Whitney</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 8.4</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">26</div>
                  </td>
                  <td>
                    <div class="main__table-text">Blindspotting</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 9.0</div>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="main__table-text">27</div>
                  </td>
                  <td>
                    <div class="main__table-text">I Dream in Another Language</div>
                  </td>
                  <td>
                    <div class="main__table-text">John Doe</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i> 7.7</div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end dashbox -->
      </div>
    </div>
  </main>
</template>

<script>
import axios from "axios";


export default {
  name: "HomeAdmin",
  created() {
    this.getData();
    this.getListTopRate();
    this.getListLatest();
  },
  data() {
    return {
      countWatches: '',
      countMovie: '',
      countRate: '',
      countComment: '',
      listTopRate: [],
      listLatestMovie: []
    }
  },
  methods: {
    getData() {
      axios.get('http://localhost:9999/movies/count', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.countMovie = response.data.data;
      });
      axios.get('http://localhost:9999/comment/count', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.countComment = response.data.data
      });
      axios.get('http://localhost:9999/rate/count', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.countRate = response.data.data
      });
      axios.get('http://localhost:9999/watches/count', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.countWatches = response.data.data
      });
    },
    getListTopRate() {
      axios.get('http://localhost:9999/movies/top-rate', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listTopRate = response.data.data
      });
    },

    getListLatest() {
      axios.get('http://localhost:9999/movies/new', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listLatestMovie = response.data.data.content
      });
    },
    goToDetailTopRate(){
      this.$router.push({path: '/Home#tab-4'});
    }

  }

}
</script>
