<template>
  <div class="sidebar">
    <!-- sidebar logo -->
    <a @click="goToHome()" href="" class="sidebar__logo">
      <img src="../../adminAssets/img/logo.svg" alt="">
    </a>
    <!-- end sidebar logo -->

    <!-- sidebar user -->
    <div class="sidebar__user">
      <div class="sidebar__user-img">
        <img src="../../adminAssets/img/user.svg" alt="">
      </div>

      <div class="sidebar__user-title">
        <span>Admin</span>
        <p>John Doe</p>
      </div>

      <button class="sidebar__user-btn" type="button">
        <i class="icon ion-ios-log-out"></i>
      </button>
    </div>
    <!-- end sidebar user -->

    <!-- sidebar nav -->
    <ul class="sidebar__nav">
      <li class="sidebar__nav-item">
        <a href="/Admin" class="sidebar__nav-link sidebar__nav-link--active"><i class="icon ion-ios-keypad"></i>
          Dashboard</a>
      </li>

      <li class="sidebar__nav-item">
        <a @click="goToCategory()" href="" class="sidebar__nav-link"><i class="icon ion-ios-film"></i> Movie Manager</a>
      </li>

      <li class="sidebar__nav-item">
        <a @click="goToUser()" href="" class="sidebar__nav-link"><i class="icon ion-ios-contacts"></i> Users</a>
      </li>

      <li class="sidebar__nav-item">
        <a @click="goToComment()" href="" class="sidebar__nav-link"><i class="icon ion-ios-chatbubbles"></i>
          Comments</a>
      </li>

      <li class="sidebar__nav-item">
        <a @click="goToReview()" href="" class="sidebar__nav-link"><i class="icon ion-ios-star-half"></i> Reviews</a>
      </li>

      <!-- dropdown -->
      <li class="dropdown sidebar__nav-item" @click="show = !show">
        <a class="dropdown-toggle sidebar__nav-link" href="" role="button" id="dropdownMenuMore" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"><i class="icon ion-ios-copy"></i> Pages</a>

        <ul class="dropdown-menu sidebar__dropdown-menu scrollbar-dropdown" v-bind:class="{show:show}"

            aria-labelledby="dropdownMenuMore">
          <li><a href="AddFilm">Add item</a></li>
          <li><a href="edit-user.html">Edit user</a></li>
          <li><a href="signin.html">Đăng Nhập</a></li>
          <li><a href="signup.html">Sign Up</a></li>
          <li><a href="forgot.html">Forgot password</a></li>
          <li><a href="404.html">404 Page</a></li>
        </ul>
      </li>
      <!-- end dropdown -->
    </ul>
    <!-- end sidebar nav -->

    <!-- sidebar copyright -->
    <div class="sidebar__copyright">© 2020 HotFlix.</div>
    <!-- end sidebar copyright -->
  </div>
</template>

<script>
export default {
  name: "Left",
  data() {
    return {
      show: false
    }
  },
  methods: {
    goToHome() {
      this.$router.push({path: '/Home'});
    },
    goToUser() {
      this.$router.push({path: '/Admin/User'});
    },
    goToComment() {
      this.$router.push({path: '/Admin/Comment'});
    },
    goToReview() {
      this.$router.push({path: '/Admin/Review'});
    },
    goToCategory() {
      this.$router.push({path: '/Admin/MovieManager'});
    }
  }
}
</script>

<style scoped>

</style>
