<template>
  <div>
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Catalog</h2>

              <span class="main__title-stat">14,452 Total</span>

              <div class="main__title-wrap">
                <!-- filter sort -->
                <div class="filter" id="filter__sort">
                  <span class="filter__item-label">Sort by:</span>

                  <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <input type="button" value="Date created">
                    <span></span>
                  </div>

                  <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                    <li>Date created</li>
                    <li>Rating</li>
                    <li>Views</li>
                  </ul>
                </div>
                <!-- end filter sort -->

                <!-- search -->
                <form action="#" class="main__title-form">
                  <input type="text" placeholder="Find movie / tv series..">
                  <button type="button">
                    <i class="icon ion-ios-search"></i>
                  </button>
                </form>
                <!-- end search -->
              </div>
            </div>
          </div>
          <!-- end main title -->

          <!-- users -->
          <div class="col-12">
            <div class="main__table-wrap">
              <table class="main__table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>TITLE</th>
                  <th>RATING</th>
                  <th>RATE</th>
                  <th>VIEWS</th>
                  <th>COMMENT</th>
                  <th>CRAETED DATE</th>
                  <th>ACTIONS</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="movie in this.listMovie" :key="movie.id">
                  <td>
                    <div class="main__table-text">{{ movie.id }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ movie.name }}</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
                      {{ movie.mean_point === null ? 0 : movie.mean_point }}
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text"><i
                        class="icon ion-ios-star"></i>{{ movie.total_rate === null ? 0 : movie.total_rate }}
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text"><i
                        class="icon ion-ios-eye"></i>{{ movie.total_watch === null ? 0 : movie.total_watch }}
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text "><i
                        class="icon ion-ios-chatbubbles"></i>{{ movie.total_cmt === null ? 0 : movie.total_cmt }}
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ movie.created }}</div>
                  </td>
                  <td>
                    <div class="main__table-btns">
                      <a href="#" class="main__table-btn main__table-btn--view">
                        <i class="icon ion-ios-eye"></i>
                      </a>
                      <a href="#" class="main__table-btn main__table-btn--edit">
                        <i class="icon ion-ios-create"></i>
                      </a>
                      <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal">
                        <i class="icon ion-ios-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
          <!-- end users -->

          <!-- paginator -->
          <div class="col-12">
            <div class="paginator-wrap">
              <span>10 from 14 452</span>

              <ul class="paginator">
                <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
                    @click="getListMovie(page-1)" href="#">{{ page }}</a></li>
              </ul>
            </div>
          </div>
          <!-- end paginator -->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MovieManager",
  data() {
    return {
      listMovie: [],
      totalPages: 1,
      listPage: []
    }
  },
  created() {
    this.getListMovie(0);
  },
  methods: {
    getListMovie(page) {
      axios.get('http://localhost:9999/movies/admin?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovie = response.data.data.content;
        console.log(this.listMovie)
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
