<template>
  <div>

    <!-- main content -->
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Reviews</h2>

              <span class="main__title-stat">9,071 Total</span>

              <div class="main__title-wrap">
                <!-- filter sort -->
                <div class="filter" id="filter__sort">
                  <span class="filter__item-label">Sort by:</span>

                  <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <input type="button" value="Date created">
                    <span></span>
                  </div>

                  <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                    <li>Date created</li>
                    <li>Rating</li>
                  </ul>
                </div>
                <!-- end filter sort -->

                <!-- search -->
                <form action="#" class="main__title-form">
                  <input type="text" placeholder="Key word..">
                  <button type="button">
                    <i class="icon ion-ios-search"></i>
                  </button>
                </form>
                <!-- end search -->
              </div>
            </div>
          </div>
          <!-- end main title -->

          <!-- reviews -->
          <div class="col-12">
            <div class="main__table-wrap">
              <table class="main__table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>ITEM</th>
                  <th>AUTHOR</th>
                  <th>TEXT</th>
                  <th>RATING</th>
                  <th>LIKE / DISLIKE</th>
                  <th>CRAETED DATE</th>
                  <th>ACTIONS</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="rate in this.listRate" :key="rate.id">
                  <td>
                    <div class="main__table-text">{{ rate.id }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ rate.name }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ rate.fullname }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ rate.content }}</div>
                  </td>
                  <td>
                    <div class="main__table-text main__table-text--rate"><i class="icon ion-ios-star"></i>
                      {{ rate.point_rate }}
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ rate.total_like }} / {{ rate.total_dislike }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ rate.created }}</div>
                  </td>
                  <td>
                    <div class="main__table-btns">
                      <a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
                        <i class="icon ion-ios-eye" @click="openModal(rate.id)"></i>
                      </a>
                      <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal">
                        <i class="icon ion-ios-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end reviews -->

          <!-- paginator -->
          <div class="col-12">
            <div class="paginator-wrap">

              <ul class="paginator">
                <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
                    @click="getListRate(page-1)" href="#">{{ page }}</a></li>
              </ul>
            </div>
          </div>
          <!-- end paginator -->
        </div>
      </div>
    </main>
    <!-- end main content -->

    <!-- modal view -->
    <div id="modal-view" class="modalClass" v-bind:class="{ 'active': show }">
      <div class="reviews__autor">
        <img class="reviews__avatar" src="img/user.svg" alt="">
        <span class="reviews__name">UserId: {{ this.rate.userId }}</span>
        <span class="reviews__time">{{ this.rate.created }}</span>

        <span class="reviews__rating"><i class="icon ion-ios-star"></i>{{ this.rate.pointRate }}</span>
      </div>
      <p class="reviews__text">{{ this.rate.content }}</p>
    </div>
    <!-- end modal view -->

    <!-- modal delete -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Review delete</h6>

      <p class="modal__text">Are you sure to permanently delete this review?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal delete -->
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: "Review",
  data() {
    return {
      listRate: [],
      show: false,
      rate: '',
      listPage: [],
      totalPages: 1,
    }
  },
  created() {
    this.getListRate(0);
  },
  methods: {
    getListRate(page) {
      axios.get('http://localhost:9999/rate/admin?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listRate = response.data.data.content;
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    },
    openModal(id) {
      this.show = !this.show;
      if (this.show) {
        axios.get('http://localhost:9999/rate/' + id, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
          }
        }).then(response => {
          this.rate = response.data.data;
        });
      }
    }
  }
}
</script>

<style scoped>

.modalClass {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  max-width: 500px;
  background-color: #1a191f;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 30%);
  transition: 0.5s all;
}

.modalClass.active {
  opacity: 1;
  visibility: visible;
}

</style>
