<template>
  <div>

    <!-- main content -->
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Users</h2>

              <span class="main__title-stat">3,702 Total</span>

              <div class="main__title-wrap">
                <!-- filter sort -->
                <div class="filter" id="filter__sort">
                  <span class="filter__item-label">Sort by:</span>

                  <div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <input type="button" value="Date created">
                    <span></span>
                  </div>

                  <ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
                    <li>Date created</li>
                    <li>Pricing plan</li>
                    <li>Status</li>
                  </ul>
                </div>
                <!-- end filter sort -->

                <!-- search -->
                <form action="#" class="main__title-form">
                  <input type="text" placeholder="Find user..">
                  <button type="button">
                    <i class="icon ion-ios-search"></i>
                  </button>
                </form>
                <!-- end search -->
              </div>
            </div>
          </div>
          <!-- end main title -->

          <!-- users -->
          <div class="col-12">
            <div class="main__table-wrap">
              <table class="main__table">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>BASIC INFO</th>
                  <th>USERNAME</th>
                  <th>COMMENTS</th>
                  <th>REVIEWS</th>
                  <th>CRAETED DATE</th>
                  <th>ACTIONS</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="user in this.listUsers" :key="user.id">
                  <td>
                    <div class="main__table-text">{{ user.id }}</div>
                  </td>
                  <td>
                    <div class="main__user">
                      <div class="main__avatar">
                        <img src="../../adminAssets/img/user.svg" alt="">
                      </div>
                      <div class="main__meta">
                        <h3>{{ user.fullname }}</h3>
                        <span>{{ user.email }}</span>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ user.username }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ user.count_comment === null ? 0 : user.count_comment }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ user.count_rate === null ? 0 : user.count_rate }}</div>
                  </td>
                  <td>
                    <div class="main__table-text">{{ user.created }}</div>
                  </td>
                  <td>
                    <div class="main__table-btns">
                      <a @click="goToDetail(user.id)" href="" class="main__table-btn main__table-btn--edit">
                        <i class="icon ion-ios-create"></i>
                      </a>
                      <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal">
                        <i class="icon ion-ios-trash"></i>
                      </a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- end users -->

          <!-- paginator -->
          <div class="col-12">
            <div class="paginator-wrap">
              <ul class="paginator">
                <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
                    @click="getListUsers(page-1)" href="#">{{ page }}</a></li>
              </ul>
            </div>
          </div>
          <!-- end paginator -->
        </div>
      </div>
    </main>
    <!-- end main content -->

    <!-- modal status -->
    <div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Status change</h6>

      <p class="modal__text">Are you sure about immediately change status?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Apply</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal status -->

    <!-- modal delete -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">User delete</h6>

      <p class="modal__text">Are you sure to permanently delete this user?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal delete -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "User",
  data() {
    return {
      listUsers: [],
      listPage: [],
      totalPages: 1,
      tab1: true,
      tab2: false
    }
  },
  created() {
    this.getListUsers(0);
  },
  methods: {
    getListUsers(page) {
      axios.get('http://localhost:9999/users/admin?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listUsers = response.data.data.content;
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    },
    goToDetail(id) {
      this.$router.push({path: '/Admin/User/Detail', query: {id: id}});
    }
  }
}
</script>

<style scoped>

</style>
