<template>
  <div>

    <!-- main content -->
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Edit user</h2>
            </div>
          </div>
          <!-- end main title -->

          <!-- profile -->
          <div class="col-12">
            <div class="profile__content">
              <!-- profile user -->
              <div class="profile__user">
                <div class="profile__avatar">
                  <img src="img/user.svg" alt="">
                </div>
                <!-- or red -->
                <div class="profile__meta profile__meta--green">
                  <h3>Username <span>(Approved)</span></h3>
                  <span>FlixGo ID: 23562</span>
                </div>
              </div>
              <!-- end profile user -->

              <!-- profile tabs nav -->
              <ul class="nav nav-tabs profile__tabs" id="profile__tabs" role="tablist">

                <li class="nav-item">
                  <a class="nav-link " v-bind:class="{'active': tab1}"
                     @click="showTab('tab1')"
                     data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                     aria-selected="true">Comments</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link " v-bind:class="{'active': tab2}"
                     @click="showTab('tab2')" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                     aria-selected="true">Reviews</a>
                </li>
              </ul>
              <!-- end profile tabs nav -->

              <!-- profile mobile tabs nav -->
              <div class="profile__mobile-tabs" id="profile__mobile-tabs">
                <div class="profile__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <input type="button" value="Profile">
                  <span></span>
                </div>

                <div class="profile__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                  <ul class="nav nav-tabs" role="tablist">

                    <li class="nav-item"><a class="nav-link show active" v-bind:class="{'show active': tab1}"
                                            @click="showTab('tab1')" id="1-tab" data-toggle="tab" href="#tab-1"
                                            role="tab"
                                            aria-controls="tab-1" aria-selected="false">Comments</a></li>

                    <li class="nav-item"><a class="nav-link" v-bind:class="{'show active': tab2}"
                                            @click="showTab('tab2')" id="2-tab" data-toggle="tab" href="#tab-2"
                                            role="tab"
                                            aria-controls="tab-2" aria-selected="false">Reviews</a></li>
                  </ul>
                </div>
              </div>
              <!-- end profile mobile tabs nav -->

              <!-- profile btns -->
              <div class="profile__actions">
                <a href="#modal-status3" class="profile__action profile__action--banned open-modal"><i
                    class="icon ion-ios-lock"></i></a>
                <a href="#modal-delete3" class="profile__action profile__action--delete open-modal"><i
                    class="icon ion-ios-trash"></i></a>
              </div>
              <!-- end profile btns -->
            </div>
          </div>
          <!-- end profile -->

          <!-- content tabs -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade " v-bind:class="{'show active': tab1}"
                 @click="showTab('tab1')" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
              <!-- table -->
              <div class="col-12">
                <div class="main__table-wrap">
                  <table class="main__table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>ITEM</th>
                      <th>AUTHOR</th>
                      <th>TEXT</th>
                      <th>LIKE / DISLIKE</th>
                      <th>CRAETED DATE</th>
                      <th>ACTIONS</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="comment in listComment" :key="comment.id">
                      <td>
                        <div class="main__table-text">{{ comment.id }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ comment.name }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ comment.fullname }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ comment.content }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ comment.total_like }} /{{ comment.total_dislike }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ comment.created }}</div>
                      </td>
                      <td>
                        <div class="main__table-btns">
                          <a href="#modal-view" class="main__table-btn main__table-btn--view open-modal">
                            <i class="icon ion-ios-eye"></i>
                          </a>
                          <a href="#modal-delete" class="main__table-btn main__table-btn--delete open-modal">
                            <i class="icon ion-ios-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end table -->

              <!-- paginator -->
              <div class="col-12">
                <div class="paginator-wrap">

                  <ul class="paginator">
                    <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
                        @click="getListCommentById(page-1)" href="#">{{ page }}</a></li>
                  </ul>
                </div>
              </div>
              <!-- end paginator -->
            </div>

            <div class="tab-pane fade " v-bind:class="{'show active': tab2}"
                 @click="showTab('tab2')" id="tab-2" role="tabpanel" aria-labelledby="2-tab">
              <!-- table -->
              <div class="col-12">
                <div class="main__table-wrap">
                  <table class="main__table">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>ITEM</th>
                      <th>AUTHOR</th>
                      <th>TEXT</th>
                      <th>RATING</th>
                      <th>LIKE / DISLIKE</th>
                      <th>CRAETED DATE</th>
                      <th>ACTIONS</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-for="rate in this.listRate" :key="rate.id">
                      <td>
                        <div class="main__table-text">{{ rate.id }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ rate.name }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ rate.fullname }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ rate.content }}</div>
                      </td>
                      <td>
                        <div class="main__table-text main__table-text--rate"><i
                            class="icon ion-ios-star"></i>{{ rate.point_rate }}
                        </div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ rate.total_like }} / {{ rate.total_dislike }}</div>
                      </td>
                      <td>
                        <div class="main__table-text">{{ rate.created }}</div>
                      </td>
                      <td>
                        <div class="main__table-btns">
                          <a href="#modal-view2" class="main__table-btn main__table-btn--view open-modal">
                            <i class="icon ion-ios-eye"></i>
                          </a>
                          <a href="#modal-delete2" class="main__table-btn main__table-btn--delete open-modal">
                            <i class="icon ion-ios-trash"></i>
                          </a>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- end table -->

              <!-- paginator -->
              <div class="col-12">
                <div class="paginator-wrap">
                  <ul class="paginator">
                    <li v-for="page in this.listPageRate" :key="page.id" class="paginator__item"><a
                        @click="getListCommentById(page-1)" href="#">{{ page }}</a></li>
                  </ul>
                </div>
              </div>
              <!-- end paginator -->
            </div>
          </div>
          <!-- end content tabs -->
        </div>
      </div>
    </main>
    <!-- end main content -->

    <!-- modal view -->
    <div id="modal-view show active" class="zoom-anim-dialog mfp-hide modal modal--view">
      <div class="comments__autor">
        <img class="comments__avatar" src="img/user.svg" alt="">
        <span class="comments__name">John Doe</span>
        <span class="comments__time">30.08.2018, 17:53</span>
      </div>
      <p class="comments__text">There are many variations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
        embarrassing hidden in the middle of text.</p>
      <div class="comments__actions">
        <div class="comments__rate">
          <span><i class="icon ion-md-thumbs-up"></i>12</span>

          <span>7<i class="icon ion-md-thumbs-down"></i></span>
        </div>
      </div>
    </div>
    <!-- end modal view -->

    <!-- modal delete -->
    <div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Comment delete</h6>

      <p class="modal__text">Are you sure to permanently delete this comment?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal delete -->

    <!-- modal view -->
    <div id="modal-view2" class="zoom-anim-dialog mfp-hide modal modal--view">
      <div class="reviews__autor">
        <img class="reviews__avatar" src="img/user.svg" alt="">
        <span class="reviews__name">Best Marvel movie in my opinion</span>
        <span class="reviews__time">24.08.2018, 17:53 by John Doe</span>

        <span class="reviews__rating"><i class="icon ion-ios-star"></i>8.4</span>
      </div>
      <p class="reviews__text">There are many variations of passages of Lorem Ipsum available, but the majority have
        suffered alteration in some form, by injected humour, or randomised words which don't look even slightly
        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
        embarrassing hidden in the middle of text.</p>
    </div>
    <!-- end modal view -->

    <!-- modal delete -->
    <div id="modal-delete2" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Review delete</h6>

      <p class="modal__text">Are you sure to permanently delete this review?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal delete -->

    <!-- modal status -->
    <div id="modal-status3" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">Status change</h6>

      <p class="modal__text">Are you sure about immediately change status?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Apply</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal status -->

    <!-- modal delete -->
    <div id="modal-delete3" class="zoom-anim-dialog mfp-hide modal">
      <h6 class="modal__title">User delete</h6>

      <p class="modal__text">Are you sure to permanently delete this user?</p>

      <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
      </div>
    </div>
    <!-- end modal delete --></div>
</template>

<script>
import axios from "axios";

export default {
  name: "ViewDetailUser",
  created() {
    let url_string = window.location.href;
    let url = new URL(url_string);
    let id = url.searchParams.get("id");
    this.id = id;
    this.getListCommentById(0);
    this.getListRateById(0);
  },
  data() {
    return {
      tab1: true,
      tab2: false,
      id: '',
      listPage: [],
      totalPages: 1,
      listComment: [],
      listRate: [],
      listPageRate: [],
      totalPagesRate: 1,
    }
  }
  ,
  methods: {
    showTab(name) {
      switch (name) {
        case 'tab1':
          this.tab1 = true;
          this.tab2 = false;
          break;
        case 'tab2':
          this.tab1 = false;
          this.tab2 = true;
          break;
      }
    },
    getListCommentById(page) {
      axios.get('http://localhost:9999/comment/admin/+' + this.id + '?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listComment = response.data.data.content;
        console.log(this.listComment)
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    },
    getListRateById(page) {
      axios.get('http://localhost:9999/rate/admin/+' + this.id + '?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listRate = response.data.data.content;
        console.log(this.listRate)
        this.totalPagesRate = response.data.data.totalPages;
        this.listPageRate = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPageRate.push(i);
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
