<template>
  <body>
  <!-- page title -->
  <section class="home home--bg" data-bg="img/section/section.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section__wrap">
            <!-- section title -->
            <h2 class="section__title">Kho phim</h2>
            <!-- end section title -->

            <!-- breadcrumb -->
            <ul class="breadcrumb">
              <li class="breadcrumb__item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb__item breadcrumb__item--active">Kho phim</li>
            </ul>
            <!-- end breadcrumb -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end page title -->

  <!-- filter -->
  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="filter__content">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end filter -->
  <!-- catalog -->
  <div class="catalog">
    <div class="container">
      <div class="row">
        <div v-for="movie in listMovie" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
          <div class="card">
            <div class="card__cover">
              <img v-bind:src="movie.imageLink" alt=""/>
              <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                <i class="icon ion-ios-play"></i>
              </a>
              <span class="card__rate card__rate--green">7.1</span>
            </div>
            <div class="card__content">
              <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
              <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
      <div class="col-12">
        <ul class="paginator">
          <li class="paginator__item paginator__item--prev">
            <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
          </li>
          <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
              @click="getList(page-1)" href="#">{{ page }}</a></li>
          <li class="paginator__item paginator__item--next">
            <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end catalog -->


  </body>
</template>

<script>
import axios from "axios";

export default {
  name: "AllFilm",
  created() {
    let url_string = window.location.href;
    let url = new URL(url_string);
    let name = url.searchParams.get("name");
    this.nameMovie = name;
    let category = url.searchParams.get("category_id");
    this.categoryId = category;
    if (name !== null) {
      this.type = 'name'
      this.getList(0)
    } else if (category !== null) {
      this.type = 'category'
      this.getList(0)
    } else {
      this.getList(0)
    }
  },
  data() {
    return {
      listMovie: [],
      totalPages: 1,
      nameMovie: '',
      categoryId: '',
      type: '',
      listPage: []
    }
  },
  methods: {
    getList(page) {
      let url = 'http://localhost:9999/movies/list?page=' + page;
      if (this.type === 'name') {
        url += 'http://localhost:9999/movies/list?name=' + this.nameMovie + '&page=' + page;
      }
      if (this.type === 'category') {
        url = 'http://localhost:9999/movies/category?category_id=' + this.categoryId + '&page=' + page;
      }
      axios.get(url, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovie = response.data.data.content;
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    }
  }
}
</script>

<style scoped>

</style>
