<template>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a href="/Home" class="header__logo">
              <img src="../../homeAssets/img/logo.svg" alt="">
            </a>
            <!-- end header logo -->

            <!-- header nav -->
            <ul class="header__nav"
                v-bind:class="{'header__nav--active':active}">
              <!-- dropdown -->
              <li class="header__nav-item">
                <a class="dropdown-toggle header__nav-link"
                   @mouseover="hoverShow('dropdownMenuHome')"
                   @mouseleave="leaveShow('dropdownMenuHome')"
                   href="/Home"
                   role="button" id="dropdownMenuHome"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Trang chủ</a>
              </li>
              <!-- end dropdown -->

              <!-- dropdown -->
              <li class="header__nav-item">
                <a class="dropdown-toggle header__nav-link" href=""
                   role="button" id="dropdownMenuCatalog"
                   @mouseover="hoverShow('dropdownMenuCatalog')"
                   @mouseleave="leaveShow('dropdownMenuCatalog')"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thể Loại</a>

                <ul style="display:grid; grid-template-columns: auto auto auto;width:360px"
                    v-bind:class="{ 'show': dropdownMenuCatalog }" class="dropdown-menu header__dropdown-menu "
                    @mouseover="hoverItem('dropdownMenuCatalog')"
                    @mouseleave="leaveItem('dropdownMenuCatalog')"
                    aria-labelledby="dropdownMenuCatalog">
                  <li v-for="category in this.listCategory" :key="category.id" style="width:120px;"><a
                      @click="searchByCategory(category.id)" href="">{{ category.name }}</a></li>

                </ul>
              </li>
              <!-- end dropdown -->

              <!-- dropdown -->
              <li class="dropdown header__nav-item">
                <a class="dropdown-toggle header__nav-link header__nav-link--more" href="#" role="button"
                   id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true"
                   @mouseover="hoverShow('dropdownMenuMore')"
                   @mouseleave="leaveShow('dropdownMenuMore')"

                   aria-expanded="false"><i
                    class="icon ion-ios-more"></i></a>

                <ul class="dropdown-menu header__dropdown-menu" v-bind:class="{show: dropdownMenuMore}"
                    @mouseover="hoverItem('dropdownMenuMore')"
                    @mouseleave="leaveItem('dropdownMenuMore')"
                    aria-labelledby="dropdownMenuMore">
                  <li><a @click="goToProfile()" href="/Home/Profile">Thông tin cá nhân</a></li>
                   <li v-if="role==='1'" ><a @click="goToAdmin()" href="#s">Quản lý trang</a></li>
                </ul>
              </li>
              <!-- end dropdown -->
            </ul>
            <!-- end header nav -->

            <!-- header auth -->
            <div class="header__auth">
              <form action="#" class="header__search">
                <input class="header__search-input" v-model="name" type="text" placeholder="Tìm kiếm">
                <button class="header__search-button" type="button" @click="searchByName()">
                  <i class="icon ion-ios-search"></i>
                </button>
                <button class="header__search-close" type="button">
                  <i class="icon ion-md-close"></i>
                </button>
              </form>

              <button class="header__search-btn" type="button">
                <i class="icon ion-ios-search"></i>
              </button>

              <!-- dropdown -->

              <!-- end dropdown -->

              <a @click="signIn()" class="header__sign-in">
                <i class="icon ion-ios-log-in"></i>
                <span>Đăng Nhập</span>
              </a>
              <a @click="logout()" class="header__sign-in">
                <i class="icon ion-ios-log-in"></i>
                <span>Đăng xuất</span>
              </a>
            </div>
            <!-- end header auth -->

            <!-- header menu btn -->
            <button class="header__btn"
                    v-bind:class="{'header__btn--active':active}"
                    @click="active = !active"
                    type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- end header menu btn -->
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>

import axios from "axios";

export default {
  name: "Header",
  created() {
    this.getListCategory();
  },
  data() {
    return {
      active: false,
      dropdownMenuHome: false,
      dropdownMenuLang: false,
      dropdownMenuMore: false,
      dropdownMenuCatalog: false,
      isLeaveItem: false,
      name: '',
      listCategory: [],
      role: localStorage.getItem('roleId')
    }
  },
  methods: {
    hoverShow(name) {
      if (name == 'dropdownMenuHome') {
        this.dropdownMenuHome = true;
        this.dropdownMenuLang = false;
        this.dropdownMenuMore = false;
        this.dropdownMenuCatalog = false;
      } else if (name == 'dropdownMenuLang') {
        this.dropdownMenuHome = false;
        this.dropdownMenuLang = true;
        this.dropdownMenuMore = false;
        this.dropdownMenuCatalog = false;
      } else if (name == 'dropdownMenuMore') {
        this.dropdownMenuHome = false;
        this.dropdownMenuLang = false;
        this.dropdownMenuMore = true;
        this.dropdownMenuCatalog = false;
      } else if (name == 'dropdownMenuCatalog') {
        this.dropdownMenuHome = false;
        this.dropdownMenuLang = false;
        this.dropdownMenuMore = false;
        this.dropdownMenuCatalog = true;
      }
    },
    leaveShow(name) {
      if (name == 'dropdownMenuHome') {
        this.isLeaveItem ? this.dropdownMenuHome = true : this.dropdownMenuHome = false;
      } else if (name == 'dropdownMenuLang') {
        this.isLeaveItem ? this.dropdownMenuLang = true : this.dropdownMenuLang = false;
      } else if (name == 'dropdownMenuMore') {
        this.isLeaveItem ? this.dropdownMenuMore = true : this.dropdownMenuMore = false;
      } else if (name == 'dropdownMenuCatalog') {
        this.isLeaveItem ? this.dropdownMenuCatalog = true : this.dropdownMenuCatalog = false;
      }
    },
    hoverItem(name) {
      if (name == 'dropdownMenuHome') {
        this.isLeaveItem = true;
        this.dropdownMenuHome = true;
      } else if (name == 'dropdownMenuLang') {
        this.isLeaveItem = true;
        this.dropdownMenuLang = true;
      } else if (name == 'dropdownMenuMore') {
        this.isLeaveItem = true;
        this.dropdownMenuMore = true;
      } else if (name == 'dropdownMenuCatalog') {
        this.isLeaveItem = true;
        this.dropdownMenuCatalog = true;
      }
    },
    leaveItem(name) {
      if (name == 'dropdownMenuHome') {
        this.isLeaveItem = false;
        this.dropdownMenuHome = false;
      } else if (name == 'dropdownMenuLang') {
        this.isLeaveItem = false;
        this.dropdownMenuLang = false;
      } else if (name == 'dropdownMenuMore') {
        this.isLeaveItem = false;
        this.dropdownMenuMore = false;
      } else if (name == 'dropdownMenuCatalog') {
        this.isLeaveItem = false;
        this.dropdownMenuCatalog = false;
      }
    },
    searchByName() {
      this.$router.push({path: '/Home/AllFilm', query: {name: this.name}});
      location.reload();
    },
    signIn() {
      this.$router.push({path: '/SignIn'});
      location.reload();
    },
    getListCategory() {
      axios.get('http://localhost:9999/category/list', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listCategory = response.data.data;
      });
    },
    searchByCategory(id) {
      this.$router.push({path: '/Home/AllFilm', query: {category_id: id}});
      location.reload();
    },
    goToAdmin(){
      this.$router.push({path: '/Admin'});
      location.reload();
    },
    goToProfile(){
      this.$router.push({path: '/Home/Profile'});
      location.reload();
    },
    logout(){
      localStorage.clear();
      location.reload();
    }
  }
}
</script>
