<template>
  <div id="body" class="body">
    <Header></Header>
    <RouterView></RouterView>
    <Footer></Footer>
  </div>

</template>

<script>
import "/src/homeAssets/css/bootstrap-reboot.min.css";
import "/src/homeAssets/css/owl.carousel.min.css";
import "/src/homeAssets/css/bootstrap-grid.min.css";
import "/src/homeAssets/css/jquery.mCustomScrollbar.min.css";
import "/src/homeAssets/css/nouislider.min.css";
import "/src/homeAssets/css/ionicons.min.css";
import "/src/homeAssets/css/plyr.css";
import "/src/homeAssets/css/photoswipe.css";
import "/src/homeAssets/css/default-skin.css";
import "/src/homeAssets/css/main.css";
import Header from "@/components/home/Header";
import Footer from "@/components/home/Footer";

export default {
name: "HomeDefault",
  components: {Footer, Header},
}
</script>

<style scoped>

</style>