<template>
  <body>
  <section class="home home--bg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1 class="home__title"><b>Phim mới hot nhất hiện tại</b></h1>
        </div>
      </div>
    </div>
  </section>
  <!-- end home -->

  <!-- content -->
  <section class="content">
    <div class="content__head">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- content title -->
            <h2 class="content__title">Phim mới</h2>
            <!-- end content title -->

            <!-- content tabs nav -->
            <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link " v-bind:class="{'active': tab1}"
                   @click="showTab('tab1')"
                   data-toggle="tab" href="#tab-1" role="tab"
                   aria-controls="tab-1"
                   aria-selected="false">Top Mới NHất</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "
                   v-bind:class="{'active': tab2}"
                   @click="showTab('tab2')"
                   data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                   aria-selected="true">Top lượt xem</a>
              </li>
              <li class="nav-item">
                <a class="nav-link "
                   v-bind:class="{'active': tab3}"
                   @click="showTab('tab3')"
                   data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
                   aria-selected="true">Top lượt xem tuần</a>
              </li>

              <li class="nav-item">
                <a class="nav-link "
                   v-bind:class="{'active': tab4}"
                   @click="showTab('tab4')"
                   data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4"
                   aria-selected="false">Top Yêu Thích</a>
              </li>

              <li class="nav-item">
                <a class="nav-link "
                   v-bind:class="{'active': tab5}"
                   @click="showTab('tab5')"
                   data-toggle="tab" href="#tab-5" role="tab" aria-controls="tab-5"
                   aria-selected="false">Top Yêu Thích Tuần</a>
              </li>

              <li>
                <button class="filter__btn" @click="goToAllFilm()" type="button">Xem tất cả</button>
              </li>
            </ul>
            <!-- end content tabs nav -->
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- content tabs -->
      <div class="tab-content">
        <div class="tab-pane fade "
             v-bind:class="{'show active': tab1}"
             @click="showTab('tab1')" role="tabpanel" aria-labelledby="1-tab">
          <div class="row">
            <div v-for="movie in listMovieTab1" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
              <div class="card">
                <div class="card__cover">
                  <img v-bind:src="movie.imageLink" alt=""/>
                  <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                  <span class="card__rate card__rate--green">7.1</span>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
                  <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>

          <div class="container">
            <div class="row">
              <!-- carousel -->
              <div class="col-12">
                <ul class="paginator">
                  <li class="paginator__item paginator__item--prev">
                    <a href="#"><i class="icon ion-ios-arrow-back"></i></a>
                  </li>
                  <li v-for="page in this.listPage" :key="page.id" class="paginator__item"><a
                      @click="getListFilmTab1(page-1)" href="#">{{ page }}</a></li>

                  <li class="paginator__item paginator__item--next">
                    <a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
                  </li>
                </ul>
              </div>
              <!-- carousel -->
            </div>
          </div>
        </div>

        <div class="tab-pane fade "
             v-bind:class="{'show active': tab2}"
             @click="showTab('tab2')"
             role="tabpanel" aria-labelledby="2-tab">
          <div class="row">
            <div v-for="movie in listMovieTab2" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
              <div class="card">
                <div class="card__cover">
                  <img v-bind:src="movie.image_link" alt=""/>
                  <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                  <span class="card__rate card__rate--green">7.1</span>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
                  <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

        <div class="tab-pane fade "
             v-bind:class="{'show active': tab3}"
             @click="showTab('tab3')"
             role="tabpanel" aria-labelledby="3-tab">
          <div class="row">
            <div v-for="movie in listMovieTab3" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
              <div class="card">
                <div class="card__cover">
                  <img v-bind:src="movie.image_link" alt=""/>
                  <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                  <span class="card__rate card__rate--green">7.1</span>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
                  <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

        <div class="tab-pane fade "
             v-bind:class="{'show active': tab4}"
             @click="showTab('tab4')"
             role="tabpanel" aria-labelledby="4-tab">
          <div class="row">
            <div v-for="movie in listMovieTab4" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
              <div class="card">
                <div class="card__cover">
                  <img v-bind:src="movie.image_link" alt=""/>
                  <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                  <span class="card__rate card__rate--green">{{ movie.mean_point }}</span>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
                  <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

        <div class="tab-pane fade "
             v-bind:class="{'show active': tab5}"
             @click="showTab('tab5')"
             role="tabpanel" aria-labelledby="5-tab">
          <div class="row">
            <div v-for="movie in listMovieTab5" :key="movie.id" class="col-6 col-sm-4 col-md-3 col-xl-2">
              <div class="card">
                <div class="card__cover">
                  <img v-bind:src="movie.image_link" alt=""/>
                  <a v-bind:href="'http://localhost:8080/Home/Movie/' + movie.id" class="card__play">
                    <i class="icon ion-ios-play"></i>
                  </a>
                  <span class="card__rate card__rate--green">{{ movie.mean_point }}</span>
                </div>
                <div class="card__content">
                  <h3 class="card__title"><a href="#">{{ movie.name }}</a></h3>
                  <span class="card__category">
										<a href="#">{{ movie.cast }}</a>
									</span>
                </div>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>

      </div>
      <!-- end content tabs -->
    </div>
  </section>
  <!-- end content -->
  <!-- section -->
<!--  <section class="section">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <h2 class="section__title"><b>HotFlix</b> – Best Place for Movies</h2>-->
<!--          <p class="section__text">It is a long established fact that a reader will be distracted by the readable-->
<!--            content of a page when looking at its layout. The point of <b>using Lorem</b> Ipsum is that it has a-->
<!--            more-or-less normal distribution of letters, as opposed to using. Many desktop publishing packages and web-->
<!--            page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover-->
<!--            many web sites still in their infancy.</p>-->

<!--          <p class="section__text">Content here, content here, making it look like <a href="#">readable</a> English.-->
<!--            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a-->
<!--            search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved-->
<!--            over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
  <!-- end section -->

  <!-- JS -->
  </body>
</template>

<script>

import axios from "axios";

export default {
  name: 'Home',
  data() {
    return {
      listMovieTab1: [],
      listMovieTab2: [],
      listMovieTab3: [],
      listMovieTab4: [],
      listMovieTab5: [],
      tab1: true,
      tab2: false,
      tab3: false,
      tab4: false,
      tab5: false,
      totalPages: 1,
      listPage: []
    }
  },
  created() {
    this.getListFilmTab1(0),
        this.getListFilmTab2(),
        this.getListFilmTab3(),
        this.getListFilmTab4(),
        this.getListFilmTab5()
  },
  methods: {
    getListFilmTab1(page) {
      axios.get('http://localhost:9999/movies/new?page=' + page, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovieTab1 = response.data.data.content
        this.totalPages = response.data.data.totalPages;
        this.listPage = []
        for (let i = 1; i <= this.totalPages; i++) {
          this.listPage.push(i);
        }
      });
    },
    getListFilmTab2() {
      axios.get('http://localhost:9999/movies/top-view', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovieTab2 = response.data.data
      });
    },
    getListFilmTab3() {
      axios.get('http://localhost:9999/movies/top-view-week', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovieTab3 = response.data.data
      });
    },
    getListFilmTab4() {
      axios.get('http://localhost:9999/movies/top-rate', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovieTab4 = response.data.data
      });
    },
    getListFilmTab5() {
      axios.get('http://localhost:9999/movies/top-rate-week', {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listMovieTab5 = response.data.data
      });
    },
    showTab(name) {
      switch (name) {
        case 'tab1':
          this.tab1 = true;
          this.tab2 = false;
          this.tab3 = false;
          this.tab4 = false;
          this.tab5 = false;
          break;
        case 'tab2':
          this.tab1 = false;
          this.tab2 = true;
          this.tab3 = false;
          this.tab4 = false;
          this.tab5 = false;
          break;
        case 'tab3':
          this.tab1 = false;
          this.tab2 = false;
          this.tab3 = true;
          this.tab4 = false;
          this.tab5 = false;
          break;
        case 'tab4':
          this.tab1 = false;
          this.tab2 = false;
          this.tab3 = false;
          this.tab4 = true;
          this.tab5 = false;
          break;
        case 'tab5':
          this.tab1 = false;
          this.tab2 = false;
          this.tab3 = false;
          this.tab4 = false;
          this.tab5 = true;
          break;
      }
    },
    goToAllFilm() {
      this.$router.push('Home/AllFilm');
    }
  }
}
</script>

