<template>
  <div>

    <section class="home home--bg">
      <!-- details content -->
      <div class="container">
        <div class="row">
          <!-- title -->
          <div class="col-12">
            <h1 class="section__title">I Dream in Another Language</h1>
          </div>
          <!-- end title -->

          <!-- content -->
          <div class="col-12 col-lg-6">
            <div class="card card--details">
              <div class="row">
                <!-- card cover -->
                <div class="col-12 col-sm-5 col-lg-6 col-xl-5">
                  <div class="card__cover">
                    <img v-bind:src="'http://localhost/images/' + idMovie +'.jpg'" alt="">
                  </div>
                </div>
                <!-- end card cover -->

                <!-- card content -->
                <div class="col-12 col-sm-7 col-lg-6 col-xl-7">
                  <div class="card__content">
                    <ul class="card__meta">
                      <li><span>Đạo diễn:</span> {{ this.infoMovie.director }}</li>
                      <li><span>Diễn viên:</span> {{ this.infoMovie.cast }}</li>
                      <li><span>Thể loại:</span> <a href="">Hành động</a>
                        <a href="">Viễn Tưởng</a></li>
                      <li><span>Sản xuất năm:</span> {{ this.infoMovie.year }}</li>
                      <li><span>Thời lượng:</span> {{ this.infoMovie.minutes }} min</li>
                      <li><span>Quốc gia:</span> <a href="">{{ this.infoMovie.country }}</a></li>
                    </ul>
                    <div class="card__description">
                      {{ this.infoMovie.description }}
                    </div>
                  </div>
                </div>
                <!-- end card content -->
              </div>
            </div>
          </div>
          <!-- end content -->
          <div class="col-12 col-lg-6">
            <vue-core-video-player v-bind:src="'http://localhost/movie/' + idMovie +'.mp4'"></vue-core-video-player>
          </div>
          <!-- player -->

          <!-- end player -->
        </div>
      </div>
      <!-- end details content -->
    </section>
    <!-- end details -->

    <!-- content -->
    <section class="content">
      <div class="content__head">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- content title -->
              <h2 class="content__title"></h2>
              <!-- end content title -->

              <!-- content tabs nav -->
              <ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link "
                     v-bind:class="{'active': tab1}"
                     @click="showTab('tab1')"
                     data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                     aria-selected="true">Bình luận</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link "
                     v-bind:class="{'active': tab2}"
                     @click="showTab('tab2')"
                     data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2"
                     aria-selected="false">Đánh giá</a>
                </li>

              </ul>
              <!-- end content tabs nav -->

              <!-- content mobile tabs nav -->
              <div class="content__mobile-tabs" id="content__mobile-tabs">
                <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <input type="button" value="Comments">
                  <span></span>
                </div>

                <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1"
                                            role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

                    <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab"
                                            aria-controls="tab-2" aria-selected="false">Reviews</a></li>

                    <li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab"
                                            aria-controls="tab-3" aria-selected="false">Photos</a></li>
                  </ul>
                </div>
              </div>
              <!-- end content mobile tabs nav -->
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-8 col-xl-8">
            <!-- content tabs -->
            <div class="tab-content">
              <div class="tab-pane fade "
                   v-bind:class="{'show active': tab1}"
                   @click="showTab('tab1')"
                   role="tabpanel" aria-labelledby="1-tab">
                <div class="row">
                  <!-- comments -->
                  <div class="col-12">
                    <div v-for="comment in listComment" :key="comment.id" class="comments">
                      <ul class="comments__list">
                        <li class="comments__item">
                          <div class="comments__autor">
                            <img class="comments__avatar" src="../../homeAssets/img/user.svg" alt="">
                            <span class="comments__name">{{ comment.fullname }}</span>
                            <span class="comments__time">{{ comment.created }}</span>
                          </div>
                          <p class="comments__text">{{ comment.content }}</p>
                          <div class="comments__actions">
                            <div class="comments__rate">
                              <button type="button"><i class="icon ion-md-thumbs-up"></i>{{ comment.total_like }}
                              </button>

                              <button type="button">{{ comment.total_dislike }}<i class="icon ion-md-thumbs-down"></i>
                              </button>
                            </div>

                          </div>
                        </li>
                      </ul>
                    </div>
                    <form action="#" class="form">
                      <textarea id="text" name="text" v-model="contentComment" class="form__textarea"
                                placeholder="Add comment"></textarea>
                      <button type="button" @click="sendComment()" class="form__btn">Send</button>
                    </form>
                  </div>
                  <!-- end comments -->
                </div>
              </div>

              <div class="tab-pane fade "
                   v-bind:class="{'show active': tab2}"
                   @click="showTab('tab2')" role="tabpanel" aria-labelledby="2-tab">
                <div class="row">
                  <!-- reviews -->
                  <div class="col-12">
                    <div class="reviews">
                      <ul class="reviews__list">
                        <li v-for="rate in rateList" :key="rate.id" class="reviews__item">
                          <div class="reviews__autor">
                            <img class="reviews__avatar" src="../../homeAssets/img/user.svg" alt="">
                            <span class="reviews__name">{{ rate.fullname }}</span>
                            <span class="reviews__time">{{ rate.created }}</span>

                            <span class="reviews__rating reviews__rating--red">{{ rate.point_rate }}</span>
                          </div>
                          <p class="reviews__text">{{ rate.content }}</p>
                          <div class="comments__actions">
                            <div class="comments__rate">
                              <button type="button" @click="rateLike()"><i
                                  class="icon ion-md-thumbs-up"></i>{{ rate.total_like }}
                              </button>
                              <button type="button" @click="rateDisLike()">{{ rate.total_dislike }}<i
                                  class="icon ion-md-thumbs-down"></i>
                              </button>
                            </div>

                          </div>
                        </li>
                      </ul>

                      <form action="#" class="form">
                        <textarea class="form__textarea" v-model="contentRate" placeholder="Review"></textarea>
                        <div class="form__slider">
                          <div class="form__slider-rating" id="slider__rating">
                            <input style="background-color: yellow" type="range" min="0" max="10" step="0.5"
                                   id="inputPoint" @change="changePoint()"/>
                          </div>
                          <div class="form__slider-value" id="form__slider-value">{{ this.point }}</div>
                        </div>
                        <button type="button" class="form__btn" @click="sendRate()">Send</button>
                      </form>
                    </div>
                  </div>
                  <!-- end reviews -->
                </div>
              </div>

            </div>
            <!-- end content tabs -->
          </div>

          <!-- sidebar -->
          <div class="col-12 col-lg-4 col-xl-4">
            <div class="row">
              <!-- section title -->
              <div class="col-12">
                <h2 class="section__title">Phim bạn có thể thích</h2>
              </div>
              <!-- end section title -->

              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover.jpg" alt="">
                    <a href="" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--green">8.4</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                    <span class="card__category">
										<a href="#">Action</a>
										<a href="#">Triler</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->

              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover2.jpg" alt="">
                    <a href="#" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--green">7.1</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="">Benched</a></h3>
                    <span class="card__category">
										<a href="#">Comedy</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->

              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover3.jpg" alt="">
                    <a href="#" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--red">6.3</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="#">Whitney</a></h3>
                    <span class="card__category">
										<a href="#">Romance</a>
										<a href="#">Drama</a>
										<a href="#">Music</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->

              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover4.jpg" alt="">
                    <a href="#" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--green">7.9</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="#">Blindspotting</a></h3>
                    <span class="card__category">
										<a href="#">Comedy</a>
										<a href="#">Drama</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->

              <!-- card -->
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover5.jpg" alt="">
                    <a href="#" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--green">8.4</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="#">I Dream in Another Language</a></h3>
                    <span class="card__category">
										<a href="#">Action</a>
										<a href="#">Triler</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->

              card
              <div class="col-6 col-sm-4 col-lg-6">
                <div class="card">
                  <div class="card__cover">
                    <img src="../../homeAssets/img/covers/cover6.jpg" alt="">
                    <a href="#" class="card__play">
                      <i class="icon ion-ios-play"></i>
                    </a>
                    <span class="card__rate card__rate--green">7.1</span>
                  </div>
                  <div class="card__content">
                    <h3 class="card__title"><a href="#">Benched</a></h3>
                    <span class="card__category">
										<a href="#">Comedy</a>
									</span>
                  </div>
                </div>
              </div>
              <!-- end card -->
            </div>
          </div>
          <!-- end sidebar -->
        </div>
      </div>
    </section>
    <!-- end content -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Movie",
  created() {
    this.idMovie = window.location.pathname.substr(12);
    this.createWatch()
    this.getComment();
    this.getRate();
    this.getInfoMovie();
  },
  data() {
    return {
      idMovie: '',
      tab1: true,
      tab2: false,
      listComment: [],
      contentComment: '',
      rateList: [],
      contentRate: '',
      point: 10,
      infoMovie: ''
    }
  },
  methods: {
    getComment() {
      axios.get('http://localhost:9999/comment/movie?movie_id=' + this.idMovie, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listComment = response.data.data;
      });
    },
    sendComment() {
      axios.post('http://localhost:9999/comment', {"movie_id": this.idMovie, "content": this.contentComment}, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        console.log(response)
        this.getComment();
      });
    },
    getRate() {
      axios.get('http://localhost:9999/rate/movie?movie_id=' + this.idMovie, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.rateList = response.data.data;
      });
    },
    showTab(name) {
      switch (name) {
        case 'tab1':
          this.tab1 = true;
          this.tab2 = false;
          break;
        case 'tab2':
          this.tab1 = false;
          this.tab2 = true;
          break;
      }
    },
    changePoint() {
      const inputPoint = document.querySelector("#inputPoint").value;
      this.point = inputPoint
    },
    sendRate() {
      axios.post('http://localhost:9999/rate',
          {
            "movie_id": this.idMovie,
            "content": this.contentRate,
            "point_rate": this.point
          }, {
            headers: {
              'Authorization': 'Bearer ' + localStorage.getItem('token'),
            }
          }).then(response => {
        console.log(response)
        this.getRate();
      });
    },
    rateDisLike() {
      axios.get('http://localhost:9999/rate/movie?movie_id=' + this.idMovie, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.listComment = response.data.data;
      });
    },
    rateLike() {
      console.log("like");
    },
    createWatch() {
      axios.post('http://localhost:9999/movies/watch?movie_id=' + this.idMovie, {}, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        console.log(response)
      });
    },
    getInfoMovie() {
      axios.get('http://localhost:9999/movies?id=' + this.idMovie, {
        headers: {
          'Authorization': 'Bearer ' + localStorage.getItem('token'),
        }
      }).then(response => {
        this.infoMovie = response.data.data.movie;
        console.log(this.infoMovie)
      });
    }
  }

}
</script>

<style scoped>

</style>
