<template>
  <body class="body">

  <!-- header -->

  <!-- end header -->

  <!-- page title -->
  <section class="section section--first section--bg"
           style="background: url('../../homeAssets/css/section/section.jpg') center center / cover no-repeat"
           data-bg="../../homeAssets/css/section/section.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section__wrap">
            <!-- section title -->
            <h2 class="section__title">My HotFlix</h2>
            <!-- end section title -->

            <!-- breadcrumb -->
            <ul class="breadcrumb">
              <li class="breadcrumb__item"><a href="">Home</a></li>
              <li class="breadcrumb__item breadcrumb__item--active">Profile</li>
            </ul>
            <!-- end breadcrumb -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end page title -->

  <!-- content -->
  <div class="content">
    <!-- profile -->
    <div class="profile">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="profile__content">
              <div class="profile__user">
                <div class="profile__avatar">
                  <img src="img/user.svg" alt="">
                </div>
                <div class="profile__meta">
                  <h3>{{localStorageFullname}}</h3>
                  <span>Username: {{localStorageUsername}}</span>
                </div>
              </div>

              <!-- content tabs nav -->
              <ul class="nav nav-tabs content__tabs content__tabs--profile" id="content__tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1"
                     aria-selected="true">Profile</a>
                </li>
              </ul>
              <!-- end content tabs nav -->

              <!-- content mobile tabs nav -->
              <div class="content__mobile-tabs content__mobile-tabs--profile" id="content__mobile-tabs">
                <div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <input type="button" value="Profile">
                  <span></span>
                </div>

                <div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1"
                                            role="tab" aria-controls="tab-1" aria-selected="true">Profile</a></li>

                    <li class="nav-item"><a class="nav-link" id="2-tab" data-toggle="tab" href="#tab-2" role="tab"
                                            aria-controls="tab-2" aria-selected="false">Subscription</a></li>
                  </ul>
                </div>
              </div>
              <!-- end content mobile tabs nav -->

              <button class="profile__logout" @click="logout()" type="button">
                <i class="icon ion-ios-log-out"></i>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end profile -->

    <div class="container">
      <!-- content tabs -->
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
          <div class="row">
            <!-- details form -->
            <div class="col-12 col-lg-6">
              <form action="#" class="profile__form">
                <div class="row">
                  <div class="col-12">
                    <h4 class="profile__title">Profile details</h4>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="profile__group">
                      <label class="profile__label" for="username">Username</label>
                      <input id="username" type="text" v-model="userUpdate.username" name="username"
                             class="profile__input" placeholder="User name">
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="profile__group">
                      <label class="profile__label" for="email">Email</label>
                      <input id="email" type="text" name="email" v-model="userUpdate.email" class="profile__input"
                             placeholder="email@email.com">
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-12">
                    <div class="profile__group">
                      <label class="profile__label" for="firstname">First Name</label>
                      <input id="firstname" v-model="userUpdate.fullname" type="text" name="firstname"
                             class="profile__input" placeholder="Full Name">
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="profile__btn" @click="updateUser()" type="button">Save</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- end details form -->

            <!-- password form -->
            <div class="col-12 col-lg-6">
              <form action="#" class="profile__form">
                <div class="row">
                  <div class="col-12">
                    <h4 class="profile__title">Change password</h4>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="profile__group">
                      <label class="profile__label" for="oldpass">Old Password</label>
                      <input id="oldpass" v-model="changePassword.old_password" type="password" name="oldpass"
                             class="profile__input">
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="profile__group">
                      <label class="profile__label" for="newpass">New Password</label>
                      <input id="newpass" v-model="changePassword.new_password" type="password" name="newpass"
                             class="profile__input">
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                    <div class="profile__group">
                      <label class="profile__label" for="confirmpass">Confirm New Password</label>
                      <input id="confirmpass" v-model="changePassword.confirm_password" type="password"
                             name="confirmpass" class="profile__input">
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="profile__btn" @click="putChangePassword()" type="button">Change</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- end password form -->
          </div>
        </div>
      </div>
      <!-- end content tabs -->
    </div>
  </div>
  <!-- end content -->

  </body>
</template>

<script>
import axios from 'axios';

export default {
  name: "Profile",
  data() {
    return {
      localStorageFullname: localStorage.getItem("fullname"),
      localStorageUsername:localStorage.getItem('username'),
      userUpdate: {
        username: '',
        email: '',
        fullname: ''
      },
      changePassword: {
        old_password: '',
        new_password: '',
        confirm_password: ''
      }
    }
  },
  methods: {
    //Update User
    updateUser() {
      if (this.userUpdate.fullname === "") {
        this.$toast.error("Full name không được để trống");
      } else if (this.userUpdate.email === "") {
        this.$toast.error("Email không được để trống");
      } else if (this.userUpdate.username === "") {
        this.$toast.error("Username không được để trống");
      } else {
        axios.put('http://198.199.19.102:9999/users/update', this.userUpdate, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
          }
        })
            .then(response => {
                  let data = response.data;
                  if (data.status === 200) {
                    this.$toast.success("Cập nhật thông tin thành công");
                  } else {
                    this.$toast.error(data.message);
                  }
                }
            );
      }
    },
    putChangePassword() {
      if (this.changePassword.old_password === "") {
        this.$toast.error("Mật khẩu cũ không được để trống");
      } else if (this.changePassword.new_password === "") {
        this.$toast.error("Mật khẩu mới không được để trống");
      } else if (this.changePassword.confirm_password === "") {
        this.$toast.error("Nhập lại mật khẩu không được để trống");
      } else {
        axios.put('http://198.199.19.102:9999/users/change-password', this.changePassword, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token'),
          }
        })
            .then(response => {
                  let data = response.data;
                  if (data.status === 200) {
                    this.$toast.success("Thay đổi mật khẩu thành công");
                  } else {
                    this.$toast.error(data.message);
                  }
                }
            );
      }
    }
    ,logout(){
      localStorage.clear();
      this.$router.push('/');
    }
  }

}

</script>

<style scoped>

</style>
