<template>
  <body class="body">

  <div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
            <!-- authorization form -->
            <form @submit.prevent="login" class="sign__form">
              <a href="/" class="sign__logo">
                <img src="../../homeAssets/img/logo.svg" alt="">
              </a>

              <div class="sign__group">
                <input v-model="sigin.username" type="text" class="sign__input" placeholder="User Name">
              </div>

              <div class="sign__group">
                <input v-model="sigin.password" type="password" class="sign__input" placeholder="Password">
              </div>

              <div class="sign__group sign__group--checkbox">
                <input id="remember" name="remember" type="checkbox" checked="checked">
                <label for="remember">Nhớ mật khẩu</label>
              </div>

              <button class="sign__btn" type="submit">Đăng nhập</button>

              <span class="sign__text">Don't have an account? <a href="SignUp">Đăng ký!</a></span>

<!--              <span class="sign__text"><a href="ForgotPassword">Forgot password?</a></span>-->
            </form>
            <!-- end authorization form -->
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</template>

<script>
import axios from 'axios';

export default {
  name: "SignIn",
  data() {
    return {
      sigin: {
        username: '',
        password: '',
      }
    }
  },
  methods: {
    login() {
      if (this.sigin.username === "") {
        this.$toast.error("Username không được để trống");
      } else if (this.sigin.password === "") {
        this.$toast.error("Passwod không được để trống");
      } else {
        axios.post('http://localhost:9999/users/login', this.sigin)
            .then(response => {
                  let data = response.data;
                  if (data.status === 200) {
                    localStorage.setItem('token', data.data.token);
                    localStorage.setItem('roleId',data.data.user.roleId);
                    localStorage.setItem('username',data.data.user.username);
                    localStorage.setItem('fullname',data.data.user.fullname);
                    this.$toast.success(data.message);
                    this.$router.push('/Home');
                  } else {
                    this.$toast.error(data.message);
                  }
                }
            );
      }
    }
  }
}
</script>

