<template>
  <body class="body">

  <div class="sign section--bg" data-bg="img/section/section.jpg">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
            <!-- registration form -->
            <form @submit.prevent="register" class="sign__form">
              <a href="index.html" class="sign__logo">
                <img src="../../homeAssets/img/logo.svg" alt="">
              </a>

              <div class="sign__group">
                <input v-model="registerData.username" type="text" class="sign__input" placeholder="User Name">
              </div>

              <div class="sign__group">
                <input v-model="registerData.fullname" type="text" class="sign__input" placeholder="Full Name">
              </div>

              <div class="sign__group">
                <input v-model="registerData.email" type="text" class="sign__input" placeholder="Email">
              </div>

              <div class="sign__group">
                <input v-model="registerData.password" type="password" class="sign__input" placeholder="Password">
              </div>

              <div class="sign__group">
                <input v-model="registerData.repeat_password" type="password" class="sign__input"
                       placeholder="Repeat Password">
              </div>

              <div class="sign__group sign__group--checkbox">
                <input id="remember" name="remember" type="checkbox" checked="checked">
                <label for="remember">I agree to the <a href="privacy.html">Privacy Policy</a></label>
              </div>

              <button class="sign__btn" type="submit">Sign up</button>

              <span class="sign__text">Already have an account? <a href="SignIn">Đăng Nhập</a></span>
            </form>
            <!-- registration form -->
          </div>
        </div>
      </div>
    </div>
  </div>

  </body>
</template>

<script>
import axios from 'axios';

export default {
  name: "SignUp",
  data() {
    return {
      registerData: {
        username: '',
        password: '',
        repeat_password: '',
        email: '',
        fullname: ''

      }
    }
  },
  methods: {
    register() {
      if (this.registerData.username === "") {
        this.$toast.error("Usernam không được để trống")
      } else if (this.registerData.email === "") {
        this.$toast.error("Email không được để trống")
      } else if (this.registerData.password === "") {
        this.$toast.error("Password không được để trống")
      } else if (this.registerData.fullname === "") {
        this.$toast.error("Họ tên không được để trống")
      } else if (this.registerData.repeat_password === "") {
        this.$toast.error("Bạn chưa nhập lại mật khẩu")
      } else {
        axios.post('http://localhost:9999/users/register', this.registerData)
            .then(response => {
                  let data = response.data;
                  console.log(response)
                  if (data.status == 200) {
                    localStorage.setItem('token', data.data.token)
                    localStorage.setItem('roleId',data.data.user.role_id);
                    localStorage.setItem('username',data.data.user.username);
                    localStorage.setItem('fullname',data.data.user.fullname);
                    this.$router.push('/');
                    this.$toast.success("Đăng ký tài khoản thành công");
                  } else {
                    this.$toast.error(data.message);
                  }
                }
            );
      }
    }
  }
}
</script>
